<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies>
            <assembly reference="97042">/bin/Sitecore.Support.97042.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
    </pipelines>
    <marketingDefinitions>
      <campaign definitionInterface="Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing">
        <repositories>
          <rdb>
            <patch:attribute name="type" value="Sitecore.Support.Analytics.Reporting.DefinitionData.Marketing.RdbCampaignDefinitionRepository, Sitecore.Support.97042"/>
          </rdb>
        </repositories>
      </campaign>

      <goal definitionInterface="Sitecore.Marketing.Definitions.Goals.IGoalDefinition, Sitecore.Marketing">
        <repositories>
          <rdb>
            <patch:attribute name="type" value="Sitecore.Support.Analytics.Reporting.DefinitionData.Marketing.GoalDefinitionRdbRepository, Sitecore.Support.97042"/>
          </rdb>
        </repositories>
      </goal>
    </marketingDefinitions>
  </sitecore>
</configuration>